
.table-wrap{
  padding: 0 24px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.small-icon{
  font-size: 14px;
}
.ant-table-tbody > tr:nth-child(1) > td {
  background-color: #efe7dd;
}

/* Đặt màu cho hàng thứ hai nhạt hơn */
.ant-table-tbody > tr:nth-child(2) > td {
  background-color: #f3ede6;
}

/* Đặt màu cho hàng thứ ba nhạt hơn hàng thứ hai */
.ant-table-tbody > tr:nth-child(3) > td {
  background-color: #f7f3ee;
}
.top-label {
  position: absolute;
  top: -17px;
  left: -15px;
  background-color: #ff4d4f;
  color: white;
  font-weight: bold;
  font-size: 11px;
  padding: 2px 6px;
}

.table-row {
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.tong-quan-title{
  margin-top: 100px;
  padding-left: '24px';
}
.ant-table-tbody >tr >td:first-child{
  color: #162a75;
    text-decoration: underline;
    font-weight: 500;
    
}
.ant-table-tbody >tr >td:first-child:hover{
  cursor: pointer;
    
}
.lien-he-btn{
    background: #fff;
    border:1px solid #242836;
    color: #242836;
    display: flex;
    align-items: center;
    border-radius: 4px;
    font-size: .875rem;
    width: 72px;
    height: 34px;
    text-align: center;
    cursor: pointer;
    padding: 0 12px;
    box-sizing: border-box;
    transition: 0.2s;
    font-weight: 500;
}
.lien-he-btn:hover{
  border-color: #c48c37;
  color: #c48c37;
}
.bg-title{
    color: #fff;
    text-align: left;
    font-size: 24px;
    margin: 0;
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.bg-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background-color: rgba(0, 0, 0, 0.35); 
}
.see-all{
  text-decoration: underline;
  font-weight: 500;
  color: #162a75;
  font-size: 18px;
  cursor: pointer;
  padding-left: 24px;
  margin-top: 12px;
  text-align: center;
  margin-bottom: 50px;
}
td{
  padding: 12px 16px !important;
}
.custom-nav-button {
  position: absolute;
  top: 310px;
  z-index: 10;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Tùy chỉnh nút Prev */
.swiper-button-prev.custom-nav-button {
  left: 20px; /* Đẩy nút Prev ra bên ngoài slider */
}

/* Tùy chỉnh nút Next */
.swiper-button-next.custom-nav-button {
  right: 20px; /* Đẩy nút Next ra bên ngoài slider */
}

/* Hiệu ứng hover cho nút điều hướng */
.custom-nav-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 768px) {
  .hidden-column {
    display: none; /* Ẩn cột có class 'hidden-column' */
  }
  .table-wrap{
    padding: 0 12px;
  }
  td{
    padding: 10px 4px !important;
  }
  .tong-quan-title{
    margin-top: 90px;
    padding-left: 12px;
  }
  .bg-title{
    font-size: 18px;
    
  }
  /* th{
    padding: 10px 8px !important;
  } */
}
@media (max-width: 375px) {
  .swiper-wrap{
    display: none;
  }
  .tong-quan-title{
    display: none;
  }
  .table-title{
    margin-top: 90px;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
